{
    "sourceMaps": true,
    "inlineSourcesContent": true,
    "jsc": {
        // 编译规则
        "target": "es5", // 输出js的规范
        "parser": {
            // 除了 ecmascript，还支持 typescript
            "syntax": "ecmascript",
            // 是否解析jsx，对应插件 @babel/plugin-transform-react-jsx
            "jsx": false,
            // 是否支持装饰器，对应插件 @babel/plugin-syntax-decorators
            "decorators": true,
            // 是否支持动态导入，对应插件 @babel/plugin-syntax-dynamic-import
            "dynamicImport": true
            // ……
            // babel 的大部分插件都能在这里找到对应配置
        },
        "minify": {} // 压缩相关配置，需要先开启压缩
    },
    "env": {
        // 编译结果相关配置
        "targets": {
            // 编译结果需要适配的浏览器
            "ie": "11" // 只兼容到 ie 11
        },
        "corejs": "3" // corejs 的版本
    },
    "minify": true // 是否开启压缩
}
